<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="veterinaria.Properties.Settings.veterinariaConnectionString"
            connectionString="Data Source=DESKTOP-T3BGM44\SQLEXPRESS;Initial Catalog=veterinaria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>